@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --light-background: #fff5ee;
  --dark-background: #0f0616;
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
